
.navbar{
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(209, 39, 39);
    width:100vw;
    height: 40px;
    padding:5px;
}

.navbar a{
    float:left;
    text-align:center;
    font-size: large;
    font-weight: bold;
    align-items: center;
    color:white;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
}
.navbar  a:hover,a:focus,a:visited{
    border:1px solid;
    border-radius: 5px;
    border-bottom: 5px solid black;
    background-color: rgb(241, 140, 140);
    color:black;
    margin-bottom: 10px;
    font-weight: bold;    
}
 input:hover, button:hover, select:hover,
 input:focus, button:focus, select:focus {
        font-weight: bold;
}
.required:after {
  content:" *";
  color: red;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

#btn:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }
#btn, select{
    width: 20%;
    background-color: #9be4ee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left:30%;
  }
  
  #btn:hover,.btn:focus{
    font-weight: bold;
    color:black;
    background-color: #9be4ee;
  }
  .popup {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.58);
    width: 100%;
    height: 100%;
    display: none;
  }
  
  
  .popup-content {
    width: 600px;
    margin: 0 auto;
    padding: 40px;
    margin-top: 100px;
    border-radius: 3px;
    background: #fff;
    position: relative;
  }
  
  
  .closeBtn {
    position: absolute;
    top: 5px;
    right: 12px;
    font-size: 17px;
    color: #7c7575;
    text-decoration: none;
  }
  input[type=reset], select {
    width: 20%;
    background-color: #0eb4ca;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } 
  input[type=reset]:hover,button[type=reset]:focus{
    font-weight: bold;
    color:black;
    background-color: #9be4ee;
  }
  .main-form{
   position:relative;
    margin:20px;
    padding:15px 15px;
  }
   
  input[type=checkbox]{
    padding: 30px 20px;
    margin: 15px 0;
    width:40px;
    
  }
  section {
    position:fixed;
    top:50px;
    left:0;
    width:98vw;
    height:700px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
   
  }
  .main-footer{
    position: absolute;
    left:0;
    background-color:rgb(209, 39, 39);
    width:100vw;
    height: 40px;
    padding:5px;
    text-align:center;
    font-size: larger;
    font-weight: bolder; 
    margin-top: 200px;  
}
 
table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
table:focus, table:hover {
  outline-style: solid;
  outline-color: black;
}



td,
th {
  padding: 2.25em;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  background:#cf1f1f;
  color: #FFF;
  border:2px solid black;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky; 
  position: sticky;
  left: 0;
  background: #FFF;
  border-right: 2px solid #CCC;
  
}

tbody td{
  border-right: 2px solid black;
  border-bottom: 2px solid black;   
}

table > tr:hover,
tbody tr:hover {
background: rgb(255, 199, 199);
}

div #updateDetails
{
    display: flex;
    justify-content: center;
    width: 60%;
    background-color: #079ee4;
    color: white;
    padding: 10px 10px;
    margin-left : 250px;
    border: none;
    border-radius: 4px;
    cursor: pointer;;
}
div #updateDetails:hover
{
  font-weight: bold;
  color:black;
  background-color: rgb(140, 189, 221);
}

#telephone
{
  color: #265301;
  font-weight: bold;
}

#telephone:focus-within, #telephone:hover
{
  color: #265301;
  font-weight: bold;
  outline-style: dotted;
  outline-color: green;
  outline-width: 1px;
  outline-offset: 1px;


}

button:focus, button:hover  {
  outline: 3px solid #044068;
}

#close{
background: none;
color: inherit;
border: none;
padding: 0;
font: inherit;
cursor: pointer;
outline: inherit;
  font-size: 30px;
  position: absolute;
  top: 0.5em;
  right: 0.5rem;
  margin-top: 0;
  line-height: 1;
  width: 20px;
}

#close:focus  {
  outline: 3px solid #d4aa00;
  padding:0 0 0 0;
}

ul {
  list-style:none;
} 

#accordion button:focus{
  border-radius:0px;
  outline:none;
}
#accordion button{
    outline: none;
    background-color:rgb(255, 174, 0);
    padding: 20px; 
    margin:5px;  
    border:none;
    border-bottom: 2px solid rgb(9, 103, 243); 
    color: rgb(9, 103, 243);
    width: 98%;
    text-align:left;
    font-size:16px;
    border-radius:5px;
}
#accordion li{
   border: 2px solid DarkSlateGray;
   border-radius: 5px;
  /* border-bottom:2px; */

}
.acc-item-content{
  padding: 0px 25px;
}
.acc-item:last-child {
  border-bottom: 1px solid DarkSlateGray;
}
#accordion button::after{
  content: "\002B";
  font-weight: 900;
  font-size: 15px;
  float:right;
}

#accordion{
  width:100vw;
  max-width: 1000px;
  min-width: 500px;
  margin-left: 150px;
  margin-top:150px;
 
}
.acc-item-content{
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

#accordion button.active:after{
    content: "\2212";
  font-weight: 900;
  font-size: 22px;
  float:right;
}